{% extends 'base.html.twig' %}

{% block title %}Gestion des commandes !{% endblock %}

{% block body %}

</br>
<h1> Commandes en attente </h1>
</br>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Entreprise</th>
      <th scope="col">Siret</th>
      <th scope="col">Telephone</th>
      <th scope="col">Email</th>
      <th scope="col">Type</th>
      <th scope="col">Assigner un chalet</th>
      
    </tr>
  </thead>
  <tbody>
  {% for client in reservations %}
    <tr>
{% if client.statut == 0 %}
      <td>{{ client.nom }}</td>
      <td>{{ client.prenom }}</td>
      {% if client.entreprise %}
        <td>{{ client.entreprise }}</td>
      {% else %}
        <td>Aucune entreprise</td>
      {% endif %}
      {% if client.siret %}
        <td>{{ client.siret }}</td>
      {% else %}
        <td>Pas de siret</td>
      {% endif %}
      <td>{{ client.numero }}</td>
      <td>{{ client.email }}</td>
      <td>{{ client.type }}</td>
      <td><a href="{{ path ('assignation', {id: client.id}) }}"><button type="submit" class="btn btn-primary">Assigner</button></a></td>
    </tr>
    {% endif %}
    {% endfor %}
    
  </tbody>
</table>

</br>
<h1>Commandes terminées</h1>
</br>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Type</th>
      <th scope="col">Statut</th>
      <th scope="col">Client</th>
      <th scope="col">Téléphone</th>
      <th scope="col">Mail</th>
    </tr>
  </thead>
  <tbody>
  {% for emplacement in emplacements %}
    <tr>
<<<<<<< HEAD
{% if emplacement.statut == 1 %}
      <td>{{ emplacement.nom }}</td>
      <td>{{ emplacement.type }}</td>
      {% if emplacement.statut == 0 %}<td>Libre</td> {% elseif emplacement.statut == 1 %}<td>Reservé</td> {% endif %}
      <td>{{ emplacement.client }}</td>
      {% endif %}
=======
      <td>{{ emplacement.nom }}</td>
      <td>{{ emplacement.type }}</td>
      {% if emplacement.statut == 0 %}<td>Libre</td> {% elseif emplacement.statut == 1 %}<td>Reservé</td> {% endif %}
      <td>{{ emplacement.client.prenom }} {{ emplacement.client.nom }}</td>
      <td>{{ emplacement.client.numero }}</td>
      <td>{{ emplacement.client.email }}</td>
>>>>>>> 3e41fc684f58bd3c9f2adad7d6182e28e6d30cce
    </tr>
  {% endfor %}
    
  </tbody>
</table>
{% endblock %}